.whoiam {
  outline: 1px solid green; //temp
}

.whoiam__header {
  margin: 0 20px 10px 20px;
}

.whoiam__position {
  display: block;
  margin: 0 20px 40px 20px;

  font-size: $s_2;
  line-height: $l_2;
  font-weight: 600;
  color: $lightbrown;
}

.whoiam__description {
  margin: 0 20px 20px 20px;
}

.whoiam__link {
  color: $lightbrown;
  font-weight: 600;

  &:hover {
    color: $darkbrown;
    text-decoration: none;
  }

  &:active {
    color: rgba(78,31,1,0.6);
  }
}

@media (min-width: $width-tablet) {
  .whoiam {

  }
}

@media (min-width: $width-desktop) {
  .whoiam {
    width: 50%;
  }
}
