// переменные цветов
$darkblue: #1f2b6c;
$blue: #6389df;
$lightblue: #a3ccf4;
$grey: #c7bab1;

// переменные ширин
$width-mobile: 320px;
$width-tablet: 720px;
$width-desktop: 1440px;

// переменные шрифтов
$s_1: 18px;
$l_1: 24px;

$s_2: 22px;
$l_2: 30px;

$s_3: 30px;
$l_3: 44px;
