// переменные цветов
$darkbrown: #4e1f01;
$lightbrown: #8c4a0d;
$yellow: #f9cd54;
$grey: #c0cbc3;

// переменные ширин
$width-mobile: 320px;
$width-tablet: 720px;
$width-desktop: 1440px;

// переменные шрифтов
$s_1: 18px;
$l_1: 24px;

$s_2: 22px;
$l_2: 30px;

$s_3: 30px;
$l_3: 44px;
