.body {
  font-family: "PTSans", Arial, sans-serif;
  font-size: $s_1;
  line-height: $l_1;
}

@media (min-width: $width-tablet) {
  .body {
    font-size: $s_2;
    line-height: $l_2;
  }
}

@media (min-width: $width-desktop) {
  .body {
    font-size: $s_3;
    line-height: $l_3;
  }
}
