.social-list {
  display: flex;
  flex-wrap: wrap;

  width: 250px;

  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.social-list__item {
  position: relative;

  margin: 0 35px 20px 0;
}

.social-list__item:nth-child(3n) {
  margin-right: 0;
}

.social-list__link {
  width: auto;

  padding: 30px;

  border-radius: 50%;
}

.social-list__link svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-list__link:hover > svg {
  fill: $blue;
}

@media (min-width: $width-tablet) {
  .social-list {
    width: 350px;
  }

  .social-list__item {
    margin-right: 55px;
  }

  .social-list__link {
    padding: 40px;
  }

  .social-list__link svg {
    width: 35px;
    height: 35px;
  }
}
