.nav {
  position: fixed;
  width: 100%;

  background-color: $blue;

  z-index: 2;
}

.nav__list {
  display: flex;
  justify-content: space-around;

  width: 700px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.nav__btn {
  width: auto;
  margin: 0;
  padding: 20px 0;

  &:hover {
    background-color: $blue;
    color: $darkblue;
  }

  &:active {
    background-color: $blue;
  }
}

@media (min-width: $width-desktop) {
  .nav__list {
    width: 1200px;
  }
}
