.portfolio {
  background-color: $grey;

  min-width: 300px;

  text-align: center;
}

.portfolio__wrapper {
  width: 300px;

  margin: 0 auto;
  padding: 40px 0;
}

.portfolio__intro {
  margin: 0 20px 20px 20px;
}

.portfolio__question {
  display: block;
  margin: 20px 0;
}

.portfolio__btn {
  margin-bottom: 40px;
}

@media (min-width: $width-tablet) {
  .portfolio__wrapper {
    width: 700px;
  }
}

@media (min-width: $width-desktop) {
  .portfolio__wrapper{
    width: 1420px;
  }
}
