.portfolio {
  background-color: $grey;

  min-width: 460px;

  text-align: center;
}

.portfolio__wrapper {
  width: 460px;

  margin: 0 auto;
  padding-top: 100px; //чтобы шапка не накрыла заголовок
  padding-bottom: 40px;
}

.portfolio__header {
  margin: 0 20px 40px 20px;
}

.portfolio__intro {
  margin: 0 20px 20px 20px;
}

.portfolio__question {
  display: block;
  margin: 40px 20px 20px 20px;
}

.portfolio__btn {
  margin-bottom: 40px;
}

@media (min-width: $width-tablet) {
  .portfolio__wrapper {
    width: 700px;
  }
}

@media (min-width: $width-desktop) {
  .portfolio__wrapper{
    width: 1420px;

    padding-top: 120px; //чтобы шапка не накрыла заголовок
  }
}
