.aboutme {
  background-color: $lightblue;

  min-width: 300px;

  text-align: center;
}

.aboutme__wrapper {
  width: 300px;
  margin: 0 auto;
  padding-top: 120px; //чтобы шапка не накрыла заголовок
  padding-bottom: 40px;
}

@media (min-width: $width-tablet) {
  .aboutme__wrapper {
    width: 700px;
  }
}

@media (min-width: $width-desktop) {
  .aboutme__wrapper {
    display: flex;

    width: 1420px;
    padding-top: 140px;
  }
}
