.aboutme {
  background-color: $yellow;

  text-align: center;
}

.aboutme__wrapper {
  width: 460px;
  margin: 0 auto;
  padding-top: 100px; //чтобы шапка не накрыла заголовок
  padding-bottom: 25px;

  outline: 1px solid red; //temp
}

@media (min-width: $width-tablet) {
  .aboutme__wrapper {
  width: 700px;
  }
}

@media (min-width: $width-desktop) {
  .aboutme__wrapper {
  width: 1420px;
  display: flex;
  }
}
