.head {
  text-transform: uppercase;
  font-size: $s_3;
  line-height: $l_3;
}

.btn {
  display: block;
  padding: 20px;
  margin: 0 auto;

  width: 260px;

  text-decoration: none;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

  border-radius: 10px;

  background-color: $lightbrown;

  &:hover {
    background-color: $darkbrown;
  }

  &:active {
    background-color: $darkbrown;
    color: $lightbrown;
  }
}

@media (min-width: $width-desktop) {
  .head {
    font-weight: 600;
  }

  .btn {
    width: 400px;
  }
}
