.head {
  margin: 0 0 20px 0;
  text-transform: uppercase;
  font-size: $s_3;
  line-height: $l_3;
}

.link {
  color: $blue;
  font-weight: 600;

  &:hover {
    color: $darkblue;
    text-decoration: none;
  }

  &:active {
    color: rgba(78,31,1,0.6);
  }
}

.btn {
  display: block;
  padding: 20px;
  margin: 0 auto;

  width: 260px;

  text-decoration: none;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;

  border-radius: 10px;

  background-color: $blue;

  &:hover {
    background-color: $darkblue;
  }

  &:active {
    background-color: $darkblue;
    color: $blue;
  }
}

@media (min-width: $width-desktop) {
  .head {
    font-weight: 600;
  }

  .btn {
    width: 400px;
  }
}
