.contacts {
  background-color: #000000;

  text-align: center;
  color: #ffffff;
}

.contacts__wrapper {
  width: 460px;
  margin: 0 auto;
  padding: 40px 0;
}

.contacts__header {
  margin: 0 20px 40px 20px;
}

.contacts__email {
  display: inline-block;
  vertical-align: baseline;

  color: #ffffff;
  margin-bottom: 40px;

  &:hover {
    color: $yellow;
    text-decoration: none;
  }

  &:active {
    color: rgba(249,205,84, 0.6);
  }
}

@media (min-width: $width-tablet) {
  .contacts__wrapper {
    width: 700px;
  }
}

@media (min-width: $width-desktop) {
  .contacts__wrapper {
    width: 1420px;
  }
}

