.contacts {
  background-color: black;

  min-width: 300px;

  text-align: center;
  color: white;
}

.contacts__wrapper {
  width: 300px;
  margin: 0 auto;
  padding: 40px 0;
}

.contacts__email {
  margin: 0 0 40px 0;
}

@media (min-width: $width-tablet) {
  .contacts__wrapper {
    width: 700px;
  }
}

@media (min-width: $width-desktop) {
  .contacts__wrapper {
    width: 1420px;
  }
}

