@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

html {
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

body {
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
  background-color: #f8f3f0;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.body-index {
  background-image: url(../img/background-index.jpg);
  background-repeat: no-repeat;
  background-color: #000000;
}

.main-header {
  width: 100%;
  font-size: 16px;
  line-height: 20px;
  background-color: #000000;
}

.main-header .wrapper {
  position: relative;
}

.logo-index {
  position: absolute;
  left: 50%;
  margin-top: 130px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.logo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-left: 30px;
  margin-right: 40px;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-navigation-list,
.user-navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-navigation-list {
 margin-right: auto;
}

.user-navigation-list {
  margin-right: 20px;
}

.main-navigation-item a,
.user-navigation-item a {
  display: block;
  padding: 25px 20px;
  color: #ffffff;
  text-decoration: none;
}

.current-page-nav span {
  display: block;
  border-bottom: 5px solid #ffffff;
  padding: 0 20px;
  padding-top: 25px;
  padding-bottom: 20px;
  color: #ffffff;
}

.main-navigation-item:hover a,
.main-navigation-item:active a,
.user-navigation-item:hover a,
.user-navigation-item:active a {
  background-color: #242424;
}

.user-navigation-item:first-child a {
  position: relative;
  padding-left: 50px;
}

.user-navigation-item:first-child a::before {
  display: block;
  position: absolute;
  top: 28px;
  left: 20px;
  content: "";
  width: 15px;
  height: 15px;
  background-image: url("../img/login.svg");
  opacity: 0.3;
}

.user-navigation-item:hover a::before,
.user-navigation-item:active a::before {
  opacity: 1;
}

.advantages {
  color: #ffffff;
}

.advantages-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 290px;
  list-style: none;
}

.advantages-item {
  width: 33.3%;
  text-align: center;
}

.advantages-item h3 {
  position: relative;
  margin: 0;
  margin-bottom: 60px;
  font-size:30px;
  line-height: 42px;
}

.advantages-item h3::before {
  position: absolute;
  display: block;
  content: "";
  left: 50%;
  top:55px;
  -webkit-transform: translateX(-50%) rotate(45deg);
      -ms-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: #ffffff;
}

.advantages-item p {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 80px;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 940px;
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
  background-color: #f8f5f2;
  margin-bottom: 35px;
}

.news,
.gallery,
.contacts,
.appointment {
  width: 50%;
}

.news::after,
.contacts::after {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 8px;
  height: 278px;
  content: "";
  background-image: url("../img/shadow.png");
}

.news-list,
.gallery-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.news-list {
  margin-left: 80px;
}

.news h2,
.gallery h2,
.contacts h2,
.appointment h2,
.enter-popup h2,
.map h2 {
  margin: 0;
  font-size:30px;
  line-height: 42px;
}

.news h2 {
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.news-item p {
  width: 350px;
  margin: 0;
}

.news time {
  display: block;
  text-transform: none;
  margin-bottom: 30px;
}

.button {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 10px 0;
  width: 140px;
  border: none;
  background-color: #000000;
  color: #ffffff;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.button a {
  color: #ffffff;
  text-decoration: none;
}

.news .button {
  margin-bottom: 50px;
  margin-left: 80px;
}

.button:hover,
.button:active {
  background-color: #663d15;
}

.gallery-list {
  position: relative;
}

.gallery-item {
  border: 7px solid #ffffff;
  width: 286px;
  height: 164px;
}

.gallery-item-hidden {
  position: absolute;
  top: 0;
  left: 0;
}

.gallery h2 {
  margin-top: 50px;
  margin-left: 100px;
  margin-bottom: 20px;
}

.gallery-list {
  margin-left: 100px;
}

.gallery div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 50px;
  margin-left: 100px;
}

.gallery .button {
  margin-right: 20px;
}

.contacts h2 {
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.contacts p {
  margin: 0;
  margin-left: 80px;
  margin-bottom: 30px;
}

.contacts div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 80px;
  margin-bottom: 50px;
}

.contacts .button {
  margin-right: 20px;
}

.appointment h2 {
  margin-top: 50px;
  margin-left: 80px;
  margin-bottom: 20px;
}

.appointment p {
  width: 300px;
  margin: 0;
  margin-left: 80px;
}

.appointment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 300px;
  margin: 0 auto;
}

.appointment-form p {
  width: 140px;
  margin: 0;
}

.appointment-form p:first-child,
.appointment-form p:nth-child(odd) {
  margin-right: 20px;
}

.appointment-form label {
  display: block;
  margin: 8px 0;
  padding-left: 20px;
}

.appointment-form .button {
  width: 300px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.appointment input,
.enter-popup input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 140px;
  border: 2px solid #000101;
  padding: 10px;
  background-image: url(../img/background.jpg);
  background-repeat: repeat;
  background-color: #f8f3f0;
}

::-webkit-input-placeholder {
  font-weight: 700;
}

::-moz-placeholder {
  font-weight: 700;
}

:-moz-placeholder {
  font-weight: 700;
}

:-ms-input-placeholder {
  font-weight: 700;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.appointment input:focus,
.enter-popup input:focus {
  border-color:#663d15;
}

.main-footer {
  position: relative;
  width: 100%;
  color: #ffffff;
  background-color: #232323;
}

.main-footer .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-footer-contact a {
  color: #ffffff;
  text-decoration: underline;
}

.main-footer-contact {
  margin-top: 60px;
  margin-bottom: 50px;
}

.main-footer-social {
  margin-top: 60px;
  margin-left: 90px;
}

.main-footer-social b {
  display: block;
  width: 140px;
  text-align: center;
}

.social-buttons-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 140px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 50px;
  padding: 0;
}

.social-buttons {
  width: 44px;
  height: 44px;
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0;
}

.social-buttons:nth-child(3n) {
  margin-right: 0;
}

.social-buttons:hover,
.social-buttons:active {
  background-color: #ffffff;
}

.social-buttons a {
  font-size: 0;
}

.social-buttons svg {
  margin: 0 auto;
  -webkit-transform: translateY(50%);
      -ms-transform: translateY(50%);
          transform: translateY(50%);
}

.social-buttons:hover path,
.social-buttons:active path {
  fill: #000000;
}

.button-academy:hover,
.button-academy:active {
  background-color: #ffffff;
  color: #000000;
}

.copyright {
  margin-left: auto;
  margin-right: 20px;
}

.copyright b {
  display: block;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 15px;
}

.copyright .button {
  display: block;
  margin: 4px;
}

.enter-popup {
  display: none;
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -230px;
  width: 460px;
  min-height: 385px;
  background-color: #f8f3f0;
  background-image: url("../img/background.jpg");
  background-repeat: repeat;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(0,0,0,1);
          box-shadow: 0px 0px 150px 0px rgba(0,0,0,1);
  z-index: 3;
}

.enter-popup h2 {
  margin-left: 80px;
  padding-top: 50px;
  margin-bottom: 25px;
}

.enter-popup > p {
  margin: 0;
  margin-left: 80px;
  margin-bottom: 15px;
}

.enter-popup-form {
  width: 300px;
  margin-left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.enter-popup-form input {
  width: 100%;
  margin-bottom: 10px;
  background-repeat: no-repeat;
}

.enter-popup-form input[type="text"] {
  background-image: url("../img/user.svg");
  background-position: 270px 10px;
}

.enter-popup-form input[type="password"] {
  background-image: url("../img/lock.svg");
  background-position: 270px 10px;
}

.enter-popup-remember {
  margin: 0;
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.enter-popup-remember label {
  position: relative;
  padding-left: 30px;
}

.enter-popup-remember label::before {
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/checkbox-not-checked.png");
  background-repeat: no-repeat;
}

.remember:focus + label::before {
  outline: 1px solid #4d90fe;
}

.remember:checked + label::before {
  background-image: url("../img/checkbox-checked.png");
}

.enter-popup-remember a {
  color: #000000;
}

.enter-popup-form .button {
  width: 100%;
  margin-top: 15px;
}

.map {
  display: none;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -395px;
  width: 760px;
  height: 554px;
  background-color: #aba9a7;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  border: 10px solid #ffffff;
  -webkit-box-shadow: 0px 0px 150px 0px rgba(0,0,0,1);
          box-shadow: 0px 0px 150px 0px rgba(0,0,0,1);
}

.map iframe {
  border: none;
}

.enter-popup .close,
.map .close {
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-image: url("../img/cross.svg");
  cursor: pointer;
  -webkit-transform: scale(1.8,1.8);
      -ms-transform: scale(1.8,1.8);
          transform: scale(1.8,1.8);
}

.enter-popup .close {
  top: 10px;
  right: -30px;
}

.map .close {
  top: 0;
  right: -40px;
}

.modal-show {
  display: block;
  -webkit-animation-name: bounceInDown;
          animation-name: bounceInDown;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
}

.modal-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
/*Стили для catalog.html*/


.breadscrumbs-head {
  margin: 0;
  margin-top: 60px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.breadscrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-left: 10px;
}

.breadscrumbs-item {
  position: relative;
  list-style: none;
  padding-right: 40px;
}

.breadscrumbs-item:hover {
  text-decoration: underline;
}

.breadscrumbs-item::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000000;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.breadscrumbs-item a {
  color: #000000;
  text-decoration: none;
}

.breadscrumbs-item-current {
  color: #aba9a7;
  list-style: none;
}

.catalog-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10px;
}

.filters {
  width: 25%;
}

.filters-form {
  border: none;
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

.filters-form legend {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}

.filters-checkbox + label,
.filters-radio + label {
  position: relative;
  display: block;
  padding-left: 40px;
  width: 150px;
  margin-bottom: 10px;
}

.filters-checkbox + label::before,
.filters-radio + label::before {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
}

.filters-checkbox:focus + label::before,
.filters-radio:focus + label::before {
  outline: 1px solid #4d90fe;
}

.filters-checkbox + label::before {
  background-image: url("../img/checkbox-not-checked.png");
}

.filters-radio + label::before {
  background-image: url("../img/radio-not-checked.png");
}

.filters-checkbox:checked + label::before {
  background-image: url("../img/checkbox-checked.png");
}

.filters-radio:checked + label::before {
  background-image: url("../img/radio-checked.png");
}

.filters-form + label:hover,
.filters-form + label:active {
  color: #663d15;
}

.filters .button {
  margin-top: 40px;
}

.goods {
  width: 75%;
  margin-top: 40px;
}

.goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods-item {
  background-color: #ffffff;
  width: 220px;
  min-height: 285px;
  font-size: 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(85,85,85,1);
          box-shadow: 0px 0px 10px 0px rgba(85,85,85,1);
  margin-right: 20px;
  margin-bottom: 20px;
}

.goods-item:nth-child(3n) {
  margin-right: 0;
}

.goods-item-name {
  color: #000000;
  font-size: 14px;
  text-decoration: none;
}

.goods-item-name p {
  margin: 0;
  margin-left: 16.5px;
  line-height: 18px;
}

.goods-article {
  color: #aeaeae
}

.goods-price {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 18px;
  width: 110px;
  text-align: center;
  padding: 13px 0;
  background-color: #e5e5e5;
}

.goods-item .goods-price {
  margin: 15px 0;
  margin-left: 16.5px;
}

.goods-item .button {
  width: 78px;
  margin: 15px 0;
}

.slider-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  margin-bottom: 50px;
  margin-left: 250px;
}

.slider-controls .button {
  width: 44px;
  height: 24px;
  margin-right: 7px;
}

.current-slider-button {
  background-color: #ffffff;
  color: #000000;
  list-style: none;
  padding: 10px;
  width: 24px;
  height: 24px;
  text-align: center;
  margin-right: 7px;
}


/*Стили для item.html*/


.item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.goods-photos {
  margin-right: 80px;
}

.goods-photos img {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(85,85,85,1);
          box-shadow: 0px 0px 10px 0px rgba(85,85,85,1);
}

.goods-photos > img {
  margin-top: 40px;
  margin-bottom: 20px;
}

.goods-photos-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods-photos-item {
  margin-right: 20px;
  margin-bottom: 50px;
}

.goods-photos-item:nth-child(3n) {
  margin-right: 0;
}

.goods-info {
  width: 410px;
  font-size: 0;
}

.goods-keys {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 65px;
  margin-right: 20px;
  margin-bottom: 40px;
}

.goods-info p {
  font-size: 14px;
}

.goods-info h3 {
  font-size: 24px;
  margin: 0;
  margin-top: 65px;
  margin-bottom: 35px;
}

.goods-available {
  margin: 0;
}

.goods-article {
  margin: 0;
}

.goods-description {
  font-size: 14px;
  width: 390px;
  margin: 0;
  margin-bottom: 40px;
}

.goods-set-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.goods-set-item {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
}

.goods-set-item::before {
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000000;
  -webkit-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}


/*Стили для price.html*/


.promo-phrase-wrapper {
  position: relative;
  text-align: center;
  margin: 0 10px;
  margin-top: 50px;
  margin-bottom: 30px;
}

.promo-phrase {
  position: relative;
  font-size: 48px;
  line-height: 48px;
  padding: 0 25px;
  background-color: #f8f3f0;
  background-image: url("../img/background.jpg");
  z-index: 2;
}

.promo-phrase-wrapper::before {
  display: block;
  position: absolute;
  top: 50%;
  content: "";
  background-color: #000000;
  width: 100%;
  height: 2px;
  z-index: 1;
}

.price-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.supplier {
  margin-left: 10px;
  margin-right: 240px;
}

.price-wrapper h2 {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  width: 240px;
}

.price-wrapper ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
  margin-bottom: 30px;
}

.price-wrapper li {
  position: relative;
  padding-left: 20px;
  font-size: 14px;
  padding-bottom: 15px;
}

.price-wrapper li::before {
  display: block;
  position: absolute;
  top: 7px;
  left: 0;
  content: "";
  width: 10px;
  height: 10px;
  background-color: #000000;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.price-list h2 {
  width: 180px;
}

.price-wrapper table,
.price-wrapper tr,
.price-wrapper td {
  border: 2px solid #000101;
  border-collapse: collapse;
}

.price-wrapper table {
  margin-bottom: 30px;
}

.price-wrapper td {
  width: 208px;
  padding: 8px 0;
  padding-left: 20px;
}

.price-wrapper td:not(:first-child) {
  text-align: center;
}

.about-us {
  margin-left: 10px;
  margin-bottom: 50px;
}

.about-us h2 {
  margin-top: 20px;
  margin-bottom: 30px;
}

.price-wrapper p {
  width: 390px;
  margin: 0;
  margin-right: 90px;
  margin-bottom: 30px;
}

.price-wrapper p:nth-child(even) {
  width: 380px;
  margin-right: 0;
}
