.projects {
  display: flex;
  flex-wrap: wrap;

  width: 300px;
  margin: 0 auto;
  padding: 0;

  list-style: none;
}

.projects__item {
  position: relative;

  width: 300px;
  height: 300px;

  margin-bottom: 20px;

  background-color: #ffffff;

  border-radius: 20px;
}

.projects__item img {
  border-radius: 20px;
}

.projects__info {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;

  background-color: $lightbrown;

  border-radius: 0 0 20px 20px;
}

.projects__item:hover .projects__info {
  display: block;
}

.projects__item:active {
  opacity: 0.6;
}

.projects__header {
  padding: 0;
  margin: 10px 0;

  color: $yellow;
  font-size: $s-2;
  line-height: $l-2;
}

.projects__description {
  margin: 10px 0;
  padding: 0 25px;

  color: #ffffff;
}

@media (min-width: $width-tablet) {
  .projects {
    display: flex;
    flex-wrap: wrap;

    width: 620px;
  }

  .projects__item {
    margin-right: 20px;
  }

  .projects__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: $width-desktop) {
  .projects {
    width: 1260px;
  }

  .projects__item:nth-child(2n) {
    margin-right: 20px;
  }

  .projects__item:nth-child(4n) {
    margin-right: 0;
  }

  .projects__description {
    font-size: $s_2;
    line-height: $l_2;
  }
}
