@font-face {
  font-weight: normal;
  font-family: "Oswald";
  font-style: normal;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff"); }

.body {
  font-family: 'Oswald', Arial, sans-serif; }

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

h1 {
  font-size: 2em;
  margin: .67em 0; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

pre {
  font-family: monospace,monospace;
  font-size: 1em; }

a {
  background-color: transparent; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; }

b, strong {
  font-weight: bolder; }

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

button, input, optgroup, select, textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0; }

button, input {
  overflow: visible; }

button, select {
  text-transform: none; }

button, [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .75em .625em; }

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal; }

progress {
  vertical-align: baseline; }

textarea {
  overflow: auto; }

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

details {
  display: block; }

summary {
  display: list-item; }

template {
  display: none; }

[hidden] {
  display: none; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.button {
  display: block;
  width: 280px;
  padding: 11px 0;
  text-decoration: none;
  color: #ffffff;
  background-color: #68b738;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  cursor: pointer;
  text-align: center;
  border: none; }
  .button:hover {
    background-color: #5eaa2f; }
  .button:active {
    color: rgba(255, 255, 255, 0.3); }

@media (min-width: 768px) {
  .button {
    font-size: 20px;
    line-height: 20px; } }

.text {
  font-family: Arial;
  font-size: 14px;
  line-height: 18px; }

@-webkit-keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@keyframes slideInDown {
  from {
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.menu-list {
  display: none;
  width: 320px;
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px; }

.menu-list--nojs {
  display: block; }

.menu-list--open {
  display: block;
  -webkit-animation-name: slideInDown, fadeIn;
          animation-name: slideInDown, fadeIn;
  -webkit-animation-duration: 0.3s, 1s;
          animation-duration: 0.3s, 1s; }

.menu-item {
  padding: 26px 0;
  text-align: center;
  border-bottom: 1px solid #e6e6e6; }

.menu-item__link {
  text-decoration: none;
  color: #000000; }
  .menu-item__link:hover {
    opacity: 0.6; }
  .menu-item__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .menu-list {
    margin: 0;
    width: 450px;
    display: flex;
    justify-content: space-between;
    font-size: 18px; }
  .menu-item {
    border: none;
    line-height: 25px; } }

@media (min-width: 1440px) {
  .menu-list {
    width: 480px;
    font-size: 20px; } }

.site-header {
  width: 320px;
  margin: 0 auto; }

.site-header__header-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 280px;
  margin: 0 auto;
  padding: 14px 0; }

.site-header--catalog .menu-item__link--catalog,
.site-header--form .menu-item__link--form,
.site-header--index .menu-item__link--index {
  pointer-events: none;
  cursor: default;
  padding-bottom: 4px;
  border-bottom: 2px solid #68b738; }

@media (min-width: 768px) {
  .site-header {
    width: 768px; }
  .site-header__header-wrapper {
    width: 708px;
    flex-wrap: nowrap; }
  .site-header .shop-name {
    display: none; } }

@media (min-width: 1440px) {
  .site-header {
    width: 1440px; }
  .site-header__header-wrapper {
    width: 1220px; }
  .site-header--index .menu-list {
    color: #ffffff; }
  .site-header--index .menu-item__link--active {
    border-color: #ffffff; }
  .site-header--index .menu-item__link {
    color: #ffffff;
    border-color: #ffffff; } }

.logo-link {
  display: block;
  width: 33px;
  height: 38px; }
  .logo-link:hover {
    opacity: 0.8; }
  .logo-link:active {
    opacity: 0.6; }

@media (min-width: 768px) {
  .logo-link {
    width: 173px;
    height: 58px; } }

@media (min-width: 1440px) {
  .logo-link {
    width: 202px;
    height: 59px; } }

.shop-name {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 20px; }
  .shop-name:hover {
    opacity: 0.8; }
  .shop-name:active {
    opacity: 0.6; }

.menu-button {
  position: relative;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent; }
  .menu-button:hover {
    cursor: pointer;
    -webkit-filter: drop-shadow(0 0 5px rgba(198, 210, 222, 0.3));
            filter: drop-shadow(0 0 5px rgba(198, 210, 222, 0.3)); }
  .menu-button:active {
    opacity: 0.6; }
  .menu-button::before, .menu-button::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 24px;
    height: 3px;
    background-color: #000000;
    content: ""; }
  .menu-button::before {
    top: 0;
    box-shadow: 0px 11px 0px 0px #000000; }
  .menu-button::after {
    bottom: 0; }

.menu-button--menu-open::before {
  top: 10px;
  -webkit-transform: translate(-50%, 0) rotate(-45deg);
          transform: translate(-50%, 0) rotate(-45deg);
  transition: 0.5s;
  box-shadow: none; }

.menu-button--menu-open::after {
  bottom: 10px;
  -webkit-transform: translate(-50%, 0) rotate(45deg);
          transform: translate(-50%, 0) rotate(45deg);
  transition: 0.5s; }

@media (min-width: 768px) {
  .menu-button {
    display: none; } }

.promotion {
  position: relative;
  width: 320px;
  min-height: 480px;
  margin: 0 auto; }

.promotion__promo-header {
  margin: 0 auto; }

.promotion__img {
  position: absolute;
  top: 165px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 280px;
  height: 270px;
  background-image: url("../img/index-can-mobile.png");
  background-repeat: no-repeat; }

@media (min-width: 768px) {
  .promotion {
    width: 768px;
    min-height: 850px;
    background: url("../img/index-can-tablet.png") no-repeat bottom right; }
  .promotion__img {
    display: none; } }

@media (min-width: 1440px) {
  .promotion {
    width: 1440px;
    background-image: url("../img/index-can.png");
    background-position: 560px 0;
    min-height: 590px; }
  .promotion__promo-header {
    margin: 0; }
  .promotion__img {
    display: block;
    width: 720px;
    height: 696px;
    top: -105px;
    right: 0;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
    background: url("../img/index-background-desktop.jpg");
    z-index: -1; } }

.promo-header {
  width: 320px;
  min-height: 305px;
  background-image: url("../img/index-background-mobile.jpg"); }

.promo-header__header {
  width: 280px;
  margin: 0 auto;
  padding: 26px 0;
  color: #ffffff;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: 400; }

.promo-header__tagline {
  width: 280px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase; }

.promo-header__button {
  position: absolute;
  top: 415px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0); }

@media (min-width: 768px) {
  .promo-header {
    width: 530px;
    background: none; }
  .promo-header__header {
    width: 425px;
    margin: 0;
    text-align: left;
    color: #000000;
    font-size: 60px;
    line-height: 60px; }
  .promo-header__tagline {
    width: 425px;
    margin: 0;
    text-align: left;
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin: 40px 0; }
  .promo-header__button {
    position: static;
    top: 0;
    left: 0;
    -webkit-transform: none;
            transform: none; } }

@media (min-width: 1440px) {
  .promo-header {
    width: 530px;
    padding-top: 90px;
    padding-left: 190px; }
  .promo-header__button {
    padding: 17px 0; } }

.diet {
  width: 320px;
  margin: 0 auto; }

.diet__list {
  width: 280px;
  margin: 0 auto;
  list-style: none;
  padding: 0; }

@media (min-width: 768px) {
  .diet {
    width: 768px; }
  .diet__list {
    width: 708px; } }

@media (min-width: 1440px) {
  .diet {
    margin-top: 80px;
    width: 1440px; }
  .diet__list {
    width: 1220px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

.diet-item {
  background-color: #f2f2f2;
  margin-bottom: 20px; }

.diet-item__header {
  position: relative;
  margin: 0;
  padding: 32px 32px 32px 90px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400; }
  .diet-item__header::before {
    position: absolute;
    display: block;
    top: 50%;
    left: 20px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    content: "";
    width: 50px;
    height: 50px;
    background-color: #68b738;
    border-radius: 50%; }
  .diet-item__header::after {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    content: "";
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-position: center; }

.diet-item__header--slim::after {
  top: 45%;
  left: 30px;
  background-image: url("../img/sprites.png");
  background-position: -296px -118px;
  width: 35px;
  height: 49px; }

.diet-item__header--strong::after {
  left: 10px;
  background-image: url("../img/sprites.png");
  background-position: -301px -171px;
  width: 67px;
  height: 28px; }

.diet-item__text {
  width: 240px;
  margin: 0 auto;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6; }

.diet-item__link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 20px;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px; }
  .diet-item__link::after {
    position: absolute;
    display: block;
    top: 50%;
    left: 110%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    content: "";
    width: 24px;
    height: 11px;
    background-image: url("../img/sprites.png");
    background-position: -150px -182px; }
  .diet-item__link:hover::after {
    width: 33px;
    background-image: url("../img/sprites.png");
    background-position: -183px -182px; }
  .diet-item__link:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .diet-item {
    display: flex;
    flex-direction: column; }
  .diet-item__text {
    width: 380px;
    border-bottom: none;
    padding-right: 220px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px; }
  .diet-item__header {
    width: 568px;
    margin: 0 auto;
    padding-top: 68px;
    padding-left: 0px;
    font-size: 36px;
    line-height: 37px; }
    .diet-item__header::before {
      width: 200px;
      height: 200px;
      top: 100%;
      left: 400px; }
    .diet-item__header::after {
      top: 100%; }
  .diet-item__header--slim::after {
    width: 140px;
    height: 194px;
    left: 440px;
    background-image: url("../img/sprites.png");
    background-position: 0 0; }
  .diet-item__header--strong::after {
    width: 268px;
    height: 112px;
    left: 360px;
    background-image: url("../img/sprites.png");
    background-position: -150px 0; }
  .diet-item__link {
    align-self: flex-start;
    margin-top: auto;
    margin-left: 54px;
    font-size: 20px;
    line-height: 20px; } }

@media (min-width: 1440px) {
  .diet-item {
    width: 570px; }
  .diet-item__header {
    width: 295px;
    padding: 75px 75px 75px 200px; }
    .diet-item__header::before {
      top: 50%;
      left: 50px;
      width: 100px;
      height: 100px; }
    .diet-item__header::after {
      top: 50%;
      width: 140px;
      height: 100px; }
  .diet-item__header--slim::after {
    top: 45%;
    left: 70px;
    background-image: url("../img/sprites.png");
    background-position: -429px 0;
    width: 70px;
    height: 97px; }
  .diet-item__header--strong::after {
    left: 30px;
    background-image: url("../img/sprites.png");
    background-position: -150px -118px;
    width: 134px;
    height: 56px; }
  .diet-item__text {
    width: 470px;
    padding: 0 50px 20px 50px; }
  .diet-item__link {
    margin-left: 50px; } }

.explanation {
  width: 320px;
  margin: 0 auto;
  padding-bottom: 20px; }

@media (min-width: 768px) {
  .explanation {
    width: 768px; } }

@media (min-width: 1440px) {
  .explanation {
    width: 1440px; } }

.section-header {
  font-size: 34px;
  line-height: 60px;
  font-weight: 400; }

@media (min-width: 768px) {
  .section-header {
    font-size: 60px; } }

.steps {
  width: 280px;
  margin: 0 auto; }

.steps__header {
  margin: 0;
  padding-bottom: 20px; }

@media (min-width: 768px) {
  .steps {
    width: 708px; }
  .steps__header {
    padding: 30px 0 70px 0; } }

@media (min-width: 1440px) {
  .steps {
    width: 1220px; } }

.steps-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.steps-list__step-item {
  margin-bottom: 20px; }

.step-item {
  position: relative;
  padding-left: 80px; }
  .step-item::before {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    content: "";
    width: 60px;
    height: 60px;
    background-color: #68b738;
    background-repeat: no-repeat; }

.step-item--leave::before {
  background-image: url("../img/sprites.png");
  background-position: -520px 8px; }

.step-item--powder::before {
  background-image: url("../img/sprites.png");
  background-position: -590px -70px; }

.step-item--tableware::before {
  background-image: url("../img/sprites.png");
  background-position: -595px 5px; }

.step-item--clock::before {
  background-image: url("../img/sprites.png");
  background-position: -590px -145px; }

@media (min-width: 768px) {
  .steps-list {
    display: flex;
    flex-wrap: wrap; }
  .step-item {
    padding-left: 0;
    padding: 120px 0;
    width: 224px;
    padding-right: 130px;
    font-size: 16px;
    line-height: 24px; }
    .step-item::before {
      width: 80px;
      height: 80px;
      top: 0;
      -webkit-transform: none;
              transform: none; }
    .step-item::after {
      position: absolute;
      font-size: 280px;
      line-height: 280px;
      color: #f2f2f2;
      top: -35px;
      left: 100px;
      font-family: Oswald;
      -webkit-transform: none;
              transform: none;
      z-index: -1; }
  .step-item--leave::before {
    background-position: -510px 14px; }
  .step-item--powder::before {
    background-position: -580px -64px; }
  .step-item--tableware::before {
    background-position: -585px 15px; }
  .step-item--clock::before {
    background-position: -580px -135px; }
  .step-item:nth-child(1)::after {
    content: "1"; }
  .step-item:nth-child(2)::after {
    content: "2"; }
  .step-item:nth-child(3)::after {
    content: "3"; }
  .step-item:nth-child(4)::after {
    content: "4"; } }

@media (min-width: 1440px) {
  .steps-list {
    width: 1220px; }
  .step-item {
    width: 245px;
    margin-right: 80px;
    box-sizing: border-box; }
  .step-item--leave {
    padding-right: 40px; }
  .step-item--powder {
    padding-right: 20px; }
  .step-item--tableware {
    padding-right: 25px; }
  .step-item--clock {
    padding-right: 0; }
  .step-item:nth-child(4n) {
    margin-right: 0; } }

.example-wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }

.example {
  width: 280px;
  margin: 0 auto; }

.example__header {
  width: 240px;
  margin: 0 auto;
  padding: 15px 0; }

.example__text {
  width: 240px;
  margin: 0 auto;
  margin-bottom: 30px; }

.example .slider {
  margin-top: 50px; }

@media (min-width: 768px) {
  .example-wrapper {
    width: 768px; }
  .example {
    width: 708px; }
  .example__header {
    width: 708px;
    padding: 40px 0; }
  .example__text {
    width: 680px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px; }
  .example .slider {
    position: relative;
    width: 708px;
    margin-top: 250px;
    min-height: 430px; } }

@media (min-width: 1440px) {
  .example-wrapper {
    margin-top: 140px;
    width: 1440px; }
  .example {
    position: relative;
    width: 1220px; }
  .example__header {
    position: absolute;
    top: -140px;
    width: 510px; }
  .example__text {
    padding-top: 75px;
    width: 420px; }
  .example .slider {
    width: 730px;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 0;
    z-index: 1; } }

.facts-list-wrapper {
  display: flex;
  flex-wrap: wrap; }

.facts-list-wrapper__cost-wrapper {
  width: 280px;
  margin: 0 auto;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
  text-align: center; }

.facts-list {
  width: 280px;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 0; }

.fact-item {
  position: relative;
  width: 123px;
  padding: 16px 0;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  border: 1px solid #e6e6e6;
  text-align: center; }

.fact-item__description {
  position: absolute;
  width: 80px;
  top: 48px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-family: Arial;
  font-size: 12px;
  line-height: 12px;
  text-transform: lowercase;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .facts-list-wrapper__cost-wrapper {
    width: 175px;
    margin: 7px 0;
    margin-left: auto;
    text-align: right;
    font-size: 20px;
    line-height: 20px; }
  .facts-list-wrapper__cost {
    display: block;
    margin: 6px 0; }
  .facts-list {
    width: 365px; }
  .fact-item {
    width: 160px;
    font-size: 30px;
    line-height: 37px; }
  .fact-item__description {
    width: 140px;
    top: 60px;
    font-size: 14px;
    line-height: 14px; } }

@media (min-width: 1440px) {
  .facts-list-wrapper {
    width: 365px; }
  .facts-list-wrapper__cost-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 60px;
    text-align: center; } }

.slide {
  width: 280px;
  display: none;
  position: relative;
  background-position: center;
  height: 240px; }

.slide img {
  display: block;
  margin: 0 auto; }

.slide--active {
  display: block; }

@media (min-width: 768px) {
  .slide {
    display: block;
    width: 354px;
    height: 620px;
    position: absolute;
    top: -180px; }
  .slide-before {
    left: 0; }
  .slide-after {
    right: 0; }
  .slide img {
    margin: 0;
    height: auto; } }

@media (min-width: 1440px) {
  .slide {
    width: 365px;
    top: -200px; } }

.slider-checkbox-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 40px auto 0 auto;
  padding-bottom: 35px;
  position: relative; }

.slider-checkbox-wrapper__label {
  padding-bottom: 2px;
  position: relative;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px dotted #bebebe; }
  .slider-checkbox-wrapper__label:hover {
    cursor: pointer;
    border-bottom: 1px solid #989898; }
  .slider-checkbox-wrapper__label:active {
    border-bottom: 1px solid transparent; }

.slider-checkbox-wrapper__checkbox-wrapper {
  position: relative;
  width: 84px;
  height: 14px;
  background-color: #ffffff;
  border-radius: 50px;
  border: 1px solid #e6e6e6; }

.slider-checkbox-wrapper__checkbox-wrapper,
.toggle {
  border-radius: 50px; }

.checkbox-wrapper__input {
  position: relative;
  width: 84px;
  height: 14px;
  padding: 0;
  margin: 0;
  opacity: 0;
  cursor: pointer; }
  .checkbox-wrapper__input:focus {
    border: 1px solid rgba(77, 144, 254, 0.6); }
  .checkbox-wrapper__input:checked + .checkbox-wrapper__toggle::before {
    left: 42px; }

.checkbox-wrapper__toggle:before {
  content: '';
  position: absolute;
  width: 34px;
  height: 6px;
  border-radius: 20%;
  top: 50%;
  left: 6px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  background: #68b738;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease all; }

.slider-checkbox-wrapper__range-controls {
  display: none; }

@media (min-width: 768px) {
  .slider-checkbox-wrapper {
    width: 570px;
    padding-top: 370px; }
  .slider-checkbox-wrapper__checkbox-wrapper {
    display: none; }
  .slider-checkbox-wrapper__range-controls {
    display: block; } }

@media (min-width: 1440px) {
  .slider-checkbox-wrapper {
    padding-top: 325px; } }

.range-controls {
  position: relative; }

.range-controls__scale {
  width: 428px;
  height: 6px;
  background: #dcdcdc;
  border-radius: 10%; }

.range-controls__range-toggle {
  position: absolute;
  box-sizing: content-box;
  top: -7px;
  left: 50%;
  width: 4px;
  height: 4px;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  background-color: #68b738;
  border: 8px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25); }
  .range-controls__range-toggle:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25); }

.contacts {
  position: relative;
  line-height: 0;
  width: 320px;
  height: 400px;
  margin: 0 auto; }
  .contacts::before {
    position: absolute;
    display: block;
    top: 180px;
    left: 135px;
    content: "";
    width: 55px;
    height: 53px;
    background-image: url("../img/map-pin.png"); }

.contacts__iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: none; }

@media (min-width: 768px) {
  .contacts {
    width: 768px; }
    .contacts::before {
      top: 200px;
      left: 370px; } }

@media (min-width: 1440px) {
  .contacts {
    width: 1440px; }
    .contacts::before {
      top: 200px;
      left: 1040px; } }

.adressblock {
  width: 320px;
  margin: 0 auto;
  padding: 30px 0; }

.adressblock--index {
  background-color: #ffffff; }

.adressblock--catalog {
  background-color: #f2f2f2; }

.adressblock--form {
  background-color: #f2f2f2; }

.adressblock-wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; }

.adressblock-wrapper_adressblock__promo {
  width: 120px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400; }

.adressblock-wrapper_adressblock__adress {
  width: 140px;
  font-family: Arial;
  font-size: 14px;
  line-height: 20px; }

.adressblock-wrapper_adressblock__br {
  display: none; }

@media (min-width: 768px) {
  .adressblock {
    width: 768px; }
  .adressblock-wrapper {
    width: 708px; }
  .adressblock-wrapper_adressblock__promo {
    width: 152px;
    font-size: 20px;
    line-height: 25px;
    padding: 100px 0;
    padding-left: 108px; }
  .adressblock-wrapper_adressblock__adress {
    width: 152px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    padding: 100px 0;
    padding-right: 108px; }
  .adressblock-wrapper_adressblock__br {
    display: block; } }

@media (min-width: 1440px) {
  .adressblock {
    position: relative;
    max-height: 0;
    width: 1440px; }
  .adressblock--index {
    background-color: #f2f2f2; }
  .adressblock--catalog {
    background-color: #ffffff; }
  .adressblock-wrapper {
    width: 570px;
    position: absolute;
    z-index: 1;
    top: 155px;
    left: 110px;
    background-color: #ffffff; }
  .adressblock-wrapper_adressblock__promo {
    width: 245px;
    padding: 60px 0;
    padding-left: 76px; }
  .adressblock-wrapper_adressblock__adress {
    width: 245px;
    padding: 60px 0;
    padding-right: 76px;
    text-align: left; } }

.site-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f2f2f2; }

@media (min-width: 768px) {
  .site-footer {
    width: 768px; } }

@media (min-width: 1440px) {
  .site-footer {
    width: 1440px; } }

.social-block {
  width: 280px;
  margin: 0 auto; }

.social-block .shop-name {
  display: block;
  text-align: center;
  padding: 47px 0; }

@media (min-width: 768px) {
  .social-block {
    min-height: 150px;
    width: 708px;
    display: flex;
    justify-content: space-between;
    align-items: center; } }

@media (min-width: 1440px) {
  .social-block {
    width: 1220px; } }

.social-buttons-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 280px;
  list-style: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #e6e6e6; }

.social-button-item__link {
  display: block;
  width: 64px;
  height: 64px;
  background-position: center;
  background-repeat: no-repeat; }

.link--vk {
  background-image: url("../img/sprites.png");
  background-position: -518px -70px; }
  .link--vk:hover {
    background-image: url("../img/sprites.png");
    background-position: -519px -143px; }
  .link--vk:active {
    opacity: 0.3; }

.link--in {
  background-image: url("../img/sprites.png");
  background-position: -520px -278px; }
  .link--in:hover {
    background-image: url("../img/sprites.png");
    background-position: -591px -278px; }
  .link--in:active {
    opacity: 0.3; }

.link--fb {
  background-image: url("../img/sprites.png");
  background-position: -520px -216px; }
  .link--fb:hover {
    background-image: url("../img/sprites.png");
    background-position: -590px -216px; }
  .link--fb:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .social-buttons-list {
    border-bottom: none; } }

.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.copyright__copyright-header {
  margin: 0;
  padding: 30px 0;
  font-family: Arial;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  font-weight: 400;
  display: block;
  min-width: 140px; }

.copyright__copyright-link {
  display: block;
  width: 28px;
  height: 34px;
  background-image: url("../img/sprites.png");
  background-position: -343px -116px;
  width: 27px;
  height: 34px; }
  .copyright__copyright-link:hover {
    background-image: url("../img/sprites.png");
    background-position: -376px -116px;
    width: 27px;
    height: 34px; }
  .copyright__copyright-link:active {
    opacity: 0.3; }

.main-catalog-wrapper {
  width: 320px;
  margin: 0 auto;
  margin-top: 20px; }

.main-catalog {
  width: 280px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .main-catalog-wrapper {
    width: 768px; }
  .main-catalog {
    width: 708px; } }

@media (min-width: 1440px) {
  .main-catalog-wrapper {
    width: 1440px; }
  .main-catalog {
    width: 1220px; } }

.goods-list {
  list-style: none;
  padding: 0; }

.goods-item {
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e6e6e6; }

.goods-item__img {
  width: 140px;
  height: 144px;
  background-repeat: no-repeat; }

.goods-description__order-button {
  margin: 0 auto;
  margin-bottom: 25px; }

@media (min-width: 768px) {
  .goods-list {
    display: flex;
    flex-wrap: wrap; }
  .goods-item {
    position: relative;
    width: 324px;
    margin-top: 140px;
    background-color: #f2f2f2; }
  .goods-item:nth-child(odd) {
    margin-right: 60px; }
  .goods-item__img {
    position: absolute;
    top: -45px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 195px;
    height: 208px;
    background-position: center; }
  .goods-item:nth-child(even) .goods-item__img {
    top: -78px; } }

@media (min-width: 1440px) {
  .goods-item {
    width: 245px; }
  .goods-item:nth-child(odd) {
    margin-right: 80px; }
  .goods-item {
    margin-right: 80px; }
  .goods-item:nth-child(4n) {
    margin-right: 0; } }

.goods-description {
  width: 140px; }

.goods-description__header {
  width: 80px;
  margin: 20px 0 10px 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400; }

@media (min-width: 768px) {
  .goods-description {
    margin-top: 165px;
    width: 100%; }
  .goods-description__header {
    width: 130px;
    margin: 0 auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center; } }

@media (min-width: 1440px) {
  .goods-description {
    width: 170px;
    margin: 165px auto 0 auto; }
  .goods-description__order-button {
    width: 170px; } }

.description-table {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse; }

.table-row__table-cell {
  width: 70px; }

.table-row__table-cell--col2 {
  text-align: right; }

@media (min-width: 768px) {
  .description-table {
    width: 250px;
    margin: 25px auto 30px auto;
    font-size: 16px;
    line-height: 16px; }
  .table-row__table-cell {
    padding: 8px 0;
    border-bottom: 1px solid #e6e6e6; } }

@media (min-width: 1440px) {
  .description-table {
    width: 170px; } }

.extra-goods {
  margin-top: 80px;
  border-bottom: 1px solid #e6e6e6;
  background-color: #ffffff; }

.extra-goods__header {
  position: relative;
  display: block;
  width: 280px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 400; }
  .extra-goods__header::before, .extra-goods__header::after {
    display: block;
    position: absolute;
    top: -40px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    content: "";
    width: 30px;
    height: 2px;
    background-color: #e6e6e6; }
  .extra-goods__header::before {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    left: calc(50% - 15px); }

.extra-goods__explanation {
  display: block;
  width: 280px;
  margin-bottom: 20px;
  text-align: center;
  font-family: Arial;
  font-size: 12px;
  line-height: 16px; }

.extra-goods__button {
  color: #000000;
  background-color: #f2f2f2;
  margin-bottom: 24px; }
  .extra-goods__button:hover {
    background-color: #e6e6e6; }
  .extra-goods__button:active {
    color: rgba(0, 0, 0, 0.3); }

@media (min-width: 768px) {
  .extra-goods {
    display: block;
    height: auto;
    margin-top: 140px;
    box-sizing: border-box;
    border: 1px solid #f2f2f2; }
  .extra-goods__header {
    width: 140px;
    margin: 165px auto 25px auto;
    font-size: 20px;
    line-height: 20px; }
    .extra-goods__header::before, .extra-goods__header::after {
      top: -80px;
      width: 60px; }
    .extra-goods__header::before {
      left: calc(50% - 30px); }
  .extra-goods__explanation {
    width: 175px;
    margin: 0 auto 85px auto;
    font-size: 16px; }
  .extra-goods__button {
    margin: 0 auto 40px auto; } }

@media (min-width: 1440px) {
  .extra-goods__button {
    width: 170px; } }

.extra-catalog-wrapper {
  width: 320px;
  margin: 0 auto; }

.extra-catalog {
  width: 280px;
  margin: 0 auto; }

.extra-catalog__header {
  margin: 0 auto; }

@media (min-width: 768px) {
  .extra-catalog-wrapper {
    width: 768px; }
  .extra-catalog {
    width: 708px; } }

@media (min-width: 1440px) {
  .extra-catalog-wrapper {
    width: 1440px; }
  .extra-catalog {
    width: 1220px; }
  .extra-catalog__extra-goods-list-wrapper {
    display: flex;
    justify-content: space-between; } }

.sub-header {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  margin: 0;
  padding: 30px 20px 30px 20px;
  font-size: 24px;
  line-height: 24px;
  background-color: #ffffff;
  font-weight: 400; }
  .sub-header::after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    left: 0px;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%);
    width: 300px;
    height: 3px;
    background-color: #68b738;
    z-index: -1; }

@media (min-width: 768px) {
  .sub-header {
    font-size: 36px;
    line-height: 36px;
    padding: 75px 50px;
    text-align: center; }
    .sub-header::after {
      width: 768px;
      left: -30px; } }

@media (min-width: 1440px) {
  .sub-header::after {
    width: 1440px;
    left: -110px; } }

.extra-goods-list {
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid #e6e6e6; }

@media (min-width: 1440px) {
  .extra-goods-list {
    width: 895px;
    margin-left: 40px; } }

.extra-goods-item {
  border-top: 1px solid #e6e6e6; }

.extra-goods-item__header {
  margin: 0;
  padding: 16px 0;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: 400; }

.extra-goods-item__button {
  margin: 15px 0; }

@media (min-width: 768px) {
  .extra-goods-item {
    display: flex;
    flex-wrap: wrap; }
  .extra-goods-item__header {
    width: 350px;
    font-size: 20px;
    line-height: 20px;
    margin-left: auto;
    padding: 25px 0; }
  .extra-goods-item__extra-description-table {
    margin-right: auto;
    margin-left: 60px; }
  .extra-goods-item__button {
    width: 648px;
    margin: 0 auto;
    margin-bottom: 10px; } }

@media (min-width: 1440px) {
  .extra-goods-item {
    flex-wrap: nowrap;
    margin-left: auto; }
  .extra-goods-item__header {
    width: 245px;
    margin-left: 0; }
  .extra-goods-item__extra-description-table {
    margin-left: 80px; }
  .extra-goods-item__button {
    margin: 15px 0;
    width: 245px; } }

.extra-description-table {
  font-family: Arial;
  font-size: 12px;
  line-height: 16px;
  border-collapse: collapse; }

.extra-table-row__extra-table-cell {
  width: 140px; }

.extra-table-row__extra-table-cell--col2 {
  text-align: right; }

@media (min-width: 768px) {
  .extra-description-table {
    font-size: 16px;
    line-height: 20px; }
  .extra-table-row__extra-table-cell {
    padding: 25px 0;
    text-align: right; }
  .extra-table-row__extra-table-cell--col2 {
    width: 96px; } }

@media (min-width: 1440px) {
  .extra-table-row__extra-table-cell {
    text-align: left; }
  .extra-table-row__extra-table-cell--col1 {
    width: 240px; }
  .extra-table-row__extra-table-cell--col2 {
    width: 45px; } }

.stock {
  margin-top: 40px;
  background-image: url("../img/gift-photo-mobile.jpg"); }

.stock__link {
  position: relative;
  display: block;
  width: 160px;
  margin: 0 auto;
  padding: 180px 0 50px 0;
  text-decoration: none;
  color: #ffffff;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  text-align: center; }
  .stock__link br {
    display: none; }
  .stock__link::before {
    position: absolute;
    display: block;
    content: "";
    top: 65px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    width: 55px;
    min-height: 60px;
    background-image: url("../img/sprites.png");
    background-position: -409px -118px;
    background-repeat: no-repeat; }

@media (min-width: 768px) {
  .stock {
    background-image: url("../img/gift-photo-tablet.jpg");
    margin-bottom: 70px; }
  .stock__link {
    width: 200px;
    padding: 70px 0 70px 300px;
    text-align: left; }
    .stock__link br {
      display: inline; }
    .stock__link::before {
      top: 50%;
      left: 0;
      -webkit-transform: translate(0, -50%);
              transform: translate(0, -50%); } }

@media (min-width: 1440px) {
  .stock {
    background-image: url("../img/gift-photo-desktop.jpg");
    margin: 0;
    width: 245px; }
  .stock__link {
    width: 100%;
    padding: 190px 0 0 0;
    text-align: center; }
    .stock__link::before {
      top: 60px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
              transform: translate(-50%, 0); } }

.form-wrapper {
  width: 320px;
  margin: 0 auto; }

@media (min-width: 768px) {
  .form-wrapper {
    width: 768px; } }

@media (min-width: 1440px) {
  .form-wrapper {
    width: 1440px; } }

.form {
  width: 280px;
  margin: 0 auto; }

.form__header {
  margin: 0 auto; }

.form__description {
  margin: 20px auto 40px auto;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase; }

.form .cat-info {
  padding: 0;
  border: none; }

.form .contacts-info,
.form .comment-info,
.form .extra-questions {
  margin: 0 auto;
  padding: 0;
  border: none; }

@media (min-width: 768px) {
  .form {
    width: 708px; }
  .form__description {
    width: 340px;
    margin: 50px auto 70px 40px;
    font-size: 20px;
    line-height: 30px; } }

@media (min-width: 1440px) {
  .form {
    width: 1220px; }
  .form__description {
    margin-left: 0; } }

.cat-info__text-input-wrapper {
  margin-bottom: 14px; }

.cat-info__radio-input-wrapper {
  width: 280px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6; }

@media (min-width: 768px) {
  .cat-info {
    width: 628px;
    margin: 0 auto; }
  .cat-info__radio-input-wrapper {
    border: 1px solid #e6e6e6;
    padding-left: 30px;
    margin-top: 60px; } }

@media (min-width: 1440px) {
  .cat-info {
    width: 1220px;
    margin: 0;
    display: flex;
    justify-content: space-between; }
  .cat-info__text-input-wrapper-outer {
    width: 570px; }
  .cat-info__radio-input-wrapper {
    width: 570px;
    margin: 0; } }

.text-input-wrapper {
  display: flex;
  align-items: center; }

.text-input-wrapper--mail,
.text-input-wrapper--tel {
  position: relative; }
  .text-input-wrapper--mail::after,
  .text-input-wrapper--tel::after {
    display: block;
    position: absolute;
    content: "";
    top: 50%;
    right: 12px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    background-repeat: no-repeat; }

.text-input-wrapper--mail::after {
  width: 17px;
  height: 13px;
  background-image: url("../img/sprites.png");
  background-position: -231px -182px; }

.text-input-wrapper--tel::after {
  width: 20px;
  height: 20px;
  background-image: url("../img/sprites.png");
  background-position: -267px -179px; }

.text-input-wrapper__label {
  margin-right: 20px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase; }

.text-input-wrapper__text-input {
  width: 100%;
  padding: 14px 34px 14px 14px;
  border: 1px solid #e6e6e6;
  text-transform: uppercase; }
  .text-input-wrapper__text-input::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #444444; }
  .text-input-wrapper__text-input::-moz-placeholder {
    text-transform: uppercase;
    color: #444444; }
  .text-input-wrapper__text-input:hover {
    border-color: #cdcdcd; }
  .text-input-wrapper__text-input:active {
    border-color: #444444; }

.text-input-wrapper__text-input--invalid {
  border-color: #ff8282; }

.radio-item {
  margin: 30px 0; }

.radio-item__radio-input:focus + .radio-item__label::after {
  border: 2px solid rgba(77, 144, 254, 0.6); }

.radio-item__label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  padding-left: 48px;
  width: 100%;
  cursor: pointer; }
  .radio-item__label::before, .radio-item__label::after {
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    content: "";
    border-radius: 50%; }
  .radio-item__label::before {
    width: 10px;
    height: 10px;
    border: 10px solid #ffffff; }
  .radio-item__label::after {
    width: 28px;
    height: 28px;
    border: 1px solid #e6e6e6; }
  .radio-item__label:hover::after {
    cursor: pointer;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25); }
  .radio-item__label:active::after {
    width: 26px;
    height: 26px;
    border: 2px solid #68b738;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25); }

.radio-item__radio-input:checked + .radio-item__label::before {
  background-color: #68b738; }

.contacts-info__header {
  border-bottom: none; }

.contacts-info__text-input-wrapper {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .contacts-info__text-input-wrapper {
    width: 628px;
    margin: 0 auto 15px auto; } }

@media (min-width: 1440px) {
  .contacts-info__text-input-wrapper {
    width: 570px;
    margin: 0 0 15px 0; }
  .contacts-info__text-input-wrapper-outer {
    display: flex;
    justify-content: space-between; } }

.comment-info__textarea {
  resize: none;
  width: 252px;
  height: 150px;
  padding: 14px;
  text-transform: uppercase;
  border-color: #e6e6e6; }
  .comment-info__textarea::-webkit-input-placeholder {
    text-transform: uppercase;
    color: #444444; }
  .comment-info__textarea::-moz-placeholder {
    text-transform: uppercase;
    color: #444444; }
  .comment-info__textarea:hover {
    border-color: #cdcdcd; }
  .comment-info__textarea:active {
    border-color: #444444; }

@media (min-width: 768px) {
  .comment-info__textarea {
    width: 600px;
    margin-left: 40px; } }

@media (min-width: 1440px) {
  .comment-info__textarea {
    width: 1192px;
    margin-left: 0; } }

.checkbox-wrapper {
  margin-bottom: 25px; }

.checkbox-wrapper__checkbox:focus + .checkbox-wrapper__label::after {
  border: 2px solid rgba(77, 144, 254, 0.6); }

.checkbox-wrapper__label {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: block;
  padding-left: 48px;
  cursor: pointer; }
  .checkbox-wrapper__label::before, .checkbox-wrapper__label::after {
    position: absolute;
    display: block;
    top: 50%;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
    content: ""; }
  .checkbox-wrapper__label::before {
    left: 5px;
    width: 21px;
    height: 16px;
    background-repeat: no-repeat; }
  .checkbox-wrapper__label::after {
    left: 0;
    width: 28px;
    height: 28px;
    border: 1px solid #e6e6e6; }
  .checkbox-wrapper__label:hover::after {
    border-color: #cdcdcd;
    cursor: pointer; }
  .checkbox-wrapper__label:active::before {
    opacity: 0.3; }
  .checkbox-wrapper__label:active::after {
    opacity: 0.3; }

.checkbox-wrapper__checkbox:checked + .checkbox-wrapper__label::before {
  background-image: url("../img/sprites.png");
  background-position: -382px -184px;
  width: 21px;
  height: 16px; }

@media (min-width: 768px) {
  .checkbox-wrapper {
    width: 290px;
    padding-left: 40px; } }

@media (min-width: 1440px) {
  .checkbox-wrapper {
    width: 190px;
    padding-left: 0; } }

.button-wrapper__button {
  margin: 20px auto 20px auto; }

.button-wrapper__reminder {
  display: block;
  padding-bottom: 35px;
  text-align: center;
  color: #444444;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px; }

@media (min-width: 768px) {
  .button-wrapper {
    display: flex;
    align-items: center; }
  .button-wrapper__button {
    margin: 20px 60px 50px 40px; }
  .button-wrapper__reminder {
    margin: 20px auto 50px 0px;
    padding: 0;
    font-size: 16px; } }

@media (min-width: 1440px) {
  .button-wrapper {
    margin-top: 30px; }
  .button-wrapper__button {
    width: 570px;
    margin-right: 80px; } }

@media (min-width: 768px) {
  .extra-questions__extra-info {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; } }

@media (min-width: 1440px) {
  .extra-questions__extra-info {
    width: 1220px; } }
